---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// 1. Your custom variables and variable overwrites.
$global-primary-background: #bd1059;
$global-link-color: #ed2d7e;
$global-link-hover-color: #bd1059;

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "../node_modules/uikit/src/scss/variables-theme.scss",
  "../node_modules/uikit/src/scss/mixins-theme.scss"
;

@import
  "../node_modules/uikit/src/scss/uikit-theme.scss",
  "layout"
;