---
layout: default
title: Rosa Productions
carousels:
  - images:
      - image: /uploads/Best of 110.jpg
        caption: Test caption
      - image: /uploads/069A4904.jpg
        caption: Test caption
      - image: /uploads/Film 2 IMG_4718.JPG
        caption: Test caption
      - image: /uploads/gravity-fields-2012.jpg
        caption: Test caption
      - image: /uploads/IMG-20191014-WA0020.jpg
        caption: Test caption
      - image: /uploads/LC 48445575557_08f5789e46_o.jpg
        caption: Test caption
      - image: /uploads/miles-at-20.jpg
        caption: Test caption
      - image: /uploads/mohammed and bishop with smartphones.jpg
        caption: Test caption
      - image: /uploads/P43A0672.jpg
        caption: Test caption
      - image: /uploads/pctank16-0556.jpg
        caption: Test caption
      - image: /uploads/poster-landscape-alice-300dpi.jpg
        caption: Test caption
      - image: /uploads/ship 069A4546.jpg
        caption: Test caption
duration: 10
event_image: /uploads/069A4413.JPG
media_image: /uploads/Film 2 IMG_4718.JPG
---


    <div class="main-content uk-container-expand">

      {% include uk-slider.html %}

      <div class="about-intro editable uk-container uk-margin-top uk-margin-bottom">

        <p>Rosa Productions is based in Kendal, Cumbria, with associate producers around the UK. We are a team of creative festival, broadcast, media and arts producers, directors and consultants led by Rosemary Richards.</p>

      </div>

  </div>



  <div class="uk-card uk-card-hover uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>

    <div class="uk-card-media-left uk-cover-container">
      <img src="/uploads/069A4413.JPG?fit=crop&amp;crop=entropy&amp;w=600&amp;h=400" alt="Events" width="600" height="400" uk-cover>

      <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
          <a href="/projects/events/" title="Contemporary Events">
            <h3 class="uk-card-title">Events</h3>
            <p>Rosa Productions produces and manages outstanding festivals,  arts and outdoor events, TV, video, social and web media.</p>
        </a>
        </div>
    </div>

  </div>

  <div class="uk-card uk-card-hover uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      {% if page.media_image %}
        {% include img.html src=page.media_image alt="Media" width=600 height=400 uk=uk-cover %}
      {% else %}
        {% include img.html src="/siteicon.png" alt="Media" width=600 height=400 uk=uk-cover %}
      {% endif %}
      <canvas width="600" height="400"></canvas>
  </div>
  <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Media</h3>
        <a href="/projects/media/" title="Contemporary Media" class="">
          <h3 class="uk-card-title">Media Right</h3>
          <p>We produce video, film, radio and podcast for broadcast, webstreaming, museums, heritage and online content. We are specialists in broadcast, arts, educational, participatory and documentary filming. We also work with the latest technologies to create multi-media events and cover live events with multi-camera mixes for online broadcast.</p>
          </a>
  </div>
</div>



