---
layout: default
title: Rosa Productions
carousel:
  - image: /uploads/Best of 110.jpg
    caption: First caption
  - image: /uploads/Film 2 IMG_4718.JPG
    caption: Slide 2
  - image: /uploads/gravity-fields-2012.jpg
    caption: Slide 3
  - image: /uploads/IMG-20191014-WA0020.jpg
    caption: Slide 4
  - image: /uploads/LC 48445575557_08f5789e46_o.jpg
    caption: Slide 5
  - image: /uploads/miles-at-20.jpg
    caption: Slide 6
  - image: /uploads/mohammed and bishop with smartphones.jpg
    caption: Slide 7
  - image: /uploads/P43A0672.jpg
    caption: Slide 8
  - image: /uploads/pctank16-0556.jpg
    caption: Slide 9
  - image: /uploads/poster-landscape-alice-300dpi.jpg
    caption: Slide 10
  - image: /uploads/ship 069A4546.jpg
    caption: Slide 11
duration: 10000
transition: fade
event_image: /uploads/069A4413.JPG
media_image: /uploads/Film 2 IMG_4718.JPG
---
<div class="main-content uk-container-expand">

      {% include uk-slider.html duration=page.duration transition=page.transition %}

      <div class="about-intro editable uk-container uk-margin-top uk-margin-bottom">
        <p>Rosa Productions is based in Kendal, Cumbria, with associate producers around the UK. We are a team of creative festival, broadcast, media and arts producers, directors and consultants led by Rosemary Richards.</p>
      </div>

  </div>



  <div class="uk-card uk-card-hover uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>

    <div class="uk-card-media-left uk-cover-container">

      {% if page.event_image %}
        {% include img-cover.html src=page.event_image alt="Events" width=600 height=400 %}
      {% else %}
        {% include img.html src="/siteicon.png" alt="Events" width=600 height=400 %}
      {% endif %}

      <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
          <a href="/projects/events/" title="Contemporary Events" class="uk-link-reset">
            <h3 class="uk-card-title">Events</h3>
            <div class="editable"><p>Rosa Productions produces and manages outstanding festivals,  arts and outdoor events, TV, video, social and web media.</p></div>
            <span class="uk-button uk-button-primary uk-button-large">Read more <i class="fa-solid fa-ellipsis"></i></span>
        </a>
        </div>
    </div>

  </div>

  <div class="uk-card uk-card-hover uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      {% if page.media_image %}
        {% include img-cover.html src=page.media_image alt="Media" width=600 height=400 uk=uk-cover %}
      {% else %}
        {% include img.html src="/siteicon.png" alt="Media" width=600 height=400 uk=uk-cover %}
      {% endif %}
      <canvas width="600" height="400"></canvas>
  </div>
  <div>
      <div class="uk-card-body">
        <a href="/projects/media/" title="Contemporary Media" class="uk-link-reset">
          <h3 class="uk-card-title">Media</h3>
          <div class="editable"><p>We produce video, film, radio and podcast for broadcast, webstreaming, museums, heritage and online content. We are specialists in broadcast, arts, educational, participatory and documentary filming. We also work with the latest technologies to create multi-media events and cover live events with multi-camera mixes for online broadcast.</p></div>
          <span class="uk-button uk-button-primary uk-button-large">Read more <i class="fa-solid fa-ellipsis"></i></span>
          </a>
  </div>
</div>



</div>