<footer class="navigation site-footer">
    <div class="wrapper">
        <ul class="footer-menu">

            {% for social in site.social %}
                {% if social.url != null %}
                <li class="nav-link social">
                    <a href="{{ social.url }}" title="{{ social.desc }}" target="_blank">
                    <i class="fa-brands fa-{{ social.icon }}"></i>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            <li class="nav-link"><a href="mailto:admin@rosaproductions.co.uk"><i class="fa fa-envelope-o" aria-hidden="true"></i> admin@rosaproductions.co.uk</a></li>

        </ul>

    </div>
</footer>