
// Typography
$base-font-family: "UniformExtraCondensedLight-Regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$heading-font-family: "UniformExtraCondensedMedium-Regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$heading-font-weight: normal;

// Font Sizes
$base-font-size: 1.4 * $em-base; // 16px

// Adjust modular scale ratio
$modular-scale-ratio: $minor-third;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.8;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * $em-base;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$green: #279b99;
$background-grey: #373535;
$white: #fff;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $green;
$highlight-color: tint($action-color, 33%);

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Screen sizes
$mobile: 640px;
$tablet: 960px;

$max-width: rem(1200);
$medium-screen: $mobile;
$large-screen: $tablet;